body{
    background-image: url(imagens/riodeJaneiro\ -\ Editado.png);
    margin: 0vw;
    padding: 0vw;
    bottom: 0vw;
}
header h1{
    text-align: start;
    padding-left: 3vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
header{
    display: flex;
    justify-content: space-between;
}
nav a{
    display: inline-block;
    padding-right: 8vw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 2vw;
    font-size: 20px;
}
nav a:hover{
    color:rgb(238, 209, 155);
}
h2{
    text-align: center;
    margin-top: 12vw;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    text-align: center;
    font-size: 25px;
    color:rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 8vw;
    padding-right: 8vw;
}
#botao{
    display: flex;
    justify-content: center;
}
#botao a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 3.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border: 3px solid rgb(238, 209, 155);
    border-radius: 2vw; 
}
#botao a:hover{
    transform: scale(1.1) 
}